<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <a href= "http://<%= link.url %>"><%= link.url %></a>
      Tag:   <%= link.tags.map(&:name).join(", ")   %>
    </li>
  <% end %>
</ul>
<form action="/tags" method="post">
  <input type="text" name="tag_name">
  <input type="submit" value="search">
</form>
<form action="/links/new">
  <input type="submit" value="New Bookmark">
</form>
