<head>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<!-- can use placeholder to name the text field -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <form action="/links" method="post" id="add_link_form">
        <div class='col-sm-4' align="center">
          <label for="addlink">
            URL:
          </label>
          <input type="text" name="addlink">
        </div>
        <div class='col-sm-4' align ="center">
          <label for="link_name">
            Name:
          </label>
          <input type="text" name="link_name">
        </div>
        <div class='col-sm-4' align ="center">
          <label for="link_name">
            Tag:
          </label>
          <input type="text" name="tag">
        </div>
      </form>
    </div>
    <div class="class" 'container' align='center'>
      <button type="submit" form="add_link_form">Add</button>
    </div>
  </div>
</div>
